* {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    align-items: center;
    background: radial-gradient(#272727, rgb(12, 12, 12));
    margin-left: 200px;
    margin-right: 200px;
    padding-right: 200px;
    padding-left: 200px;
}

header {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.encabezado {
    display: flex;
    align-items: center;
    justify-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

footer {
    margin-top: auto;
    background-color: rgb(63, 88, 88);
    width: 100%;
}

#contenedor {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    justify-items: center;
    text-align: center;
    margin-top: 30px;
}

.carta_pokemon {
    background: linear-gradient(#242424, black);
    height: 350px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.226);
    cursor: pointer;
    padding: 20px;
    transition: all 0.2s;
}

.carta_pokemon:hover {
    filter: brightness(1.2);
}

.imagen_pokemon_default {
    width: 200px;
}

.etiqueta_tipo_pokemon {
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(64, 15, 83);
    border: 1px solid rgb(255, 12, 255);
}

.filtro {
    width: 100%;
    background: linear-gradient(#242424, black);
    height: 60px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.151);
}

#btn-cargar {
    display: inline-block;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 12px;
    background-color: #242424;
    border: 1px solid rgba(255, 255, 255, 0.151);
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: bold;
}

#btn-cargar:hover {
    filter: brightness(1.2);
}
